.button {
  @include flex-center(true);
  @include reset-button();

  height: var(--button-height);
  padding-inline: 35px;
  font-size: 20px;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius);

  @include hover {
    color: var(--color-dark);
    background-color: var(--color-accent);
  }

  &--transparent {
    background-color: transparent;
    border: var(--border);
    color: currentColor;
  }

  &--accent {
    color: var(--color-dark);
    background-color: var(--color-accent);

    @include hover {
      color: var(--color-accent);
      background-color: var(--color-dark);
    }
  }
}
