.cross-button {
  @include reset-button();
  @include square(48);
  line-height: 0;
  border-radius: var(--border-radius-s);

  & > svg {
    stroke: currentColor;
  }

  &:hover {
    background-color: var(--color-accent);
  }
}