.hero {
  display: flex;
  flex-direction: column;
  row-gap: var(--section-padding-y);
  @include desktop { row-gap: 60px; }

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: start;
    column-gap: 30px;
  }

  &__body {
    max-width: 530px;

    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 35px;
  }

  &__description {
    font-size: 20px;
    line-height: 1.4;
  }

  &__image {
    max-width: 50%;
    height: auto;

    @include tablet {
      max-width: 40%;
    }
  }

  &__partners-list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 37px;

    @include mobile-s {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 20px;
      overflow: hidden;

      width: calc(100% + var(--container-padding-x) * 2);
      margin-left: calc(var(--container-padding-x) * -1);
    }
  }

  &__partners-item {
    @include mobile-s {
      position: relative;
  
      &:nth-child(-n + 3) {
        left: 45px;
      }
      &:nth-child(n + 4) {
        left: -45px;
      }
    }
  }

  &__partners-img {
    filter: grayscale(1);
    transition-duration: var(--transition-duration);

    @include hover {
      filter: grayscale(0);
    }
  }

  @include mobile {
    &__main {
      flex-direction: column;
    }

    &__body {
      display: contents;
    }

    &__title {
      order: -2;
      margin-bottom: 10px;
    }

    &__image {
      order: -1;
      max-width: 100%;
      width: 100%;
      margin-bottom: 20px;
    }

    &__description {
      margin-bottom: 40px;
    }

    &__button {
      width: 100%;
      max-width: 390px;
      align-self: center;
    }
  }
}

