.mobile-overlay {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 15px 20px;
  border: none;

  &:modal {
    max-width: 100%;
    max-height: 100%;
  }

  &__close-button-wrapper {
    display: block;
  }

  &__close-button {
    display: block;
    margin-left: auto;
  }

  &__body {
    min-height: 80vh;

    @include flex-center();
    flex-direction: column;
  }

  &__list {
    list-style: none;
  }

  &__link {
    display: block;
    padding: 20px;
    text-align: center;
  }
}