.process {
  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    counter-reset: custom-counter;
    list-style: none;
  }

  &__item {
    --processCounterContent: counter(custom-counter);
    &:nth-child(-n + 9) {
      --processCounterContent: "0" counter(custom-counter);
    }

    counter-increment: custom-counter;
  }

  &__accordion {
    border: var(--border);
    border-radius: var(--border-radius-l);
    box-shadow: var(--shadow);
    background-color: var(--color-gray);
    user-select: none;

    padding: 40px 60px;
    @include mobile {
      padding: 30px;
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      column-gap: 50px;
      @include mobile { column-gap: 28px; }

      cursor: pointer;
    }

    &-title {
      @include fluid-text(30, 18);

      display: flex;
      align-items: center;

      column-gap: 25px;
      @include mobile { column-gap: 33px;}


      &::before {
        content: var(--processCounterContent);
        font-size: 2em;
        @include mobile { font-size: 30px; }
      }
    }

    &-body {
      border-top: var(--border);

      margin-top: 30px;
      padding-top: 30px;
      @include mobile { 
        margin-top: 16px;
        padding-top: 16px;
      }
    }

    &[open] {
      background-color: var(--color-accent);
    }

    &[open] &-header {
      margin-bottom: var(--processItemGap);
    }

    &-indicator {
      @include flex-center();

      @include square(58);
      @include mobile {
        width: 30px;
      }

      background-color: var(--color-gray);
      border: var(--border);
      border-radius: 50%;
      flex-shrink: 0;

      path {
        transform-origin: 50% 50%;
        transition: transform var(--transition-duration);
      }
    }

    &[open] &-indicator path { 
      &:nth-child(1) {
        transform: rotate(-90deg);
      }
  
      &:nth-child(2) {
        transform: rotate(-180deg);
      }
    }
  }
}