.reviews {
  --reviewsSlideWidth: 606px;
  --reviewsSlidePaddingX: 25px;
  --reviewsSlideTotalWidth: calc(var(--reviewsSlideWidth) + var(--reviewsSlidePaddingX) * 2);

  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: var(--border-radius-l);
  padding: 84px 0 54px 0;

  @include tablet {
    --reviewsSlideWidth: 450px;
    --reviewsSlidePaddingX: 15px;
  }

  @include mobile {
    --reviewsSlidePaddingX: 25px;
    --reviewsSlideWidth: 320px;

    padding: 30px 0px 50px 0px;
  }

  &__slider {
    margin-bottom: 110px;
    @include mobile { margin-bottom: 50px; }

    overflow-X: hidden;

    &-list {
      display: flex;
      overflow-x: auto;
      color-scheme: dark;

      scroll-snap-type: x mandatory;

      @include tablet-above {
        margin-left: calc(var(--reviewsSlideWidth) / -2);
      }
    }

    &-item {
      min-width: var(--reviewsSlideTotalWidth);
      scroll-snap-align: start;
      
      padding-inline: var(--reviewsSlidePaddingX);
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 564px;
    margin-inline: auto;
    padding-inline: 30px;
  }

  &__arrow-btn {
    @include reset-button;
    @include flex-center;
    @include square(48);
    color: var(--color-light);

    @include hover {
      color: var(--color-accent);
    }

    svg {
      @include square(20);
    }

    &[disabled] {
      color: var(--color-gray-alt);
      cursor: not-allowed;
    }
  }
}