.review-card {
  display: flex;
  flex-direction: column;
  row-gap: 48px;

  &__body {
    position: relative;
    border: 1px solid var(--color-accent);
    border-radius: var(--border-radius-l);

    blockquote {
      margin: 0;
    }

    &::after {
      @include square(42);

      content: '';
      display: block;
      border: inherit;

      position: absolute;
      top: calc(100% - 2px);
      left: 60px;

      @include mobile {
        left: 45px;
      }

      rotate: 45deg;
      translate: 0 -50%;

      clip-path: polygon(43px 0, 0% 43px, 43px 43px);
      background-color: var(--color-dark);
    }
  }

  &__bg-border {
    position: relative;
    padding: 48px 52px 52px 52px;
    background-color: var(--color-dark);
    border-radius: inherit;
    z-index: 3;

    @include mobile { padding: 30px; }
  }

  &__footer {
    margin-left: 80px;
    @include mobile {
      margin-left: 65px;
    }
  }

  &__name {
    color: var(--color-accent);
  }
}