.service-card-container {
  container-name: service-card;
  container-type: inline-size;
}

.service-card {
  border-radius: var(--border-radius-l);
  padding: 50px;
  height: 100%;
  background-color: var(--color-gray);
  border: var(--border);
  box-shadow: 0 5px 0 0 var(--color-dark);

  display: grid;
  gap: 15px;
  min-height: 310px;

  &__title {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__image {
    max-width: 100%;
    height: auto;
    justify-self: end;
    align-self: center;
    grid-column: 2;
    grid-row: 1 / span 2;
  }

  &__link {
    align-self: end;
    grid-row: 2;

    display: inline-flex;
    align-items: center;
    column-gap: 15px;

    @include hover { opacity: 0.7; }

    &-icon-wrapper {
      @include flex-center();
      @include square(41);
      background-color: currentColor;
      border-radius: 9999px;

      svg {
        color: var(--color-accent);
      }
    }
  }

  &__link--light {
    color: var(--color-light);
  }

  &__link--light > &__link-icon-wrapper {
    svg {
      color: var(--color-dark);
    }
  }

  &--accent-bg {
    background-color: var(--color-accent);
  }

  &--dark-bg {
    background-color: var(--color-dark);
  }


  @container service-card (width < 520px) {
    & {
      grid-template-columns: 2fr 3fr;
    }

    &__title {
      grid-column: span 2;
    }

    &__image {
      grid-row: 2;
      align-self: end;
    }

    &__link-label {
      @include visually-hidden;
    }
  }
}
