.subscribe-form {
  padding: 58px 40px;
  background-color: var(--color-dark-alt);
  border-radius: var(--border-radius);

  display: flex;
  align-items: center;
  column-gap: 20px;

  @include desktop {
    flex-direction: column;
    align-items: stretch;
    row-gap: 22px;
    padding: 30px;
    flex: 1;
    max-width: 500px;
  }
}