.team-card {
  padding: 40px 35px;
  border: var(--border);
  border-radius: var(--border-radius-l);
  box-shadow: var(--shadow);
  height: 100%;

  @include mobile {
    padding-inline: 50px;
  }

  &__header {
    display: flex;
    column-gap: 20px;
    position: relative;

    border-bottom: var(--border);
    padding-bottom: 28px;
    margin-bottom: 28px;

    @include mobile {
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  }

  &__info {
    flex: 1;
    align-self: end;
  }

  &__link {
    @include square(34);
    @include flex-center();

    position: absolute;
    top: 0;
    right: 0;

    color: var(--color-accent);
    background-color: var(--color-dark);
    border-radius: 50%;
  }
}